#services{
    border: dashed;
    width: 100%;
}
#services .container{
    border: dashed;
    width: 100%;
}
#services .services_container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 50px;
    width: 100%;
    border: dashed;
}
#services .container .title{
    font-size: 2rem;
}
/* Responsive code */
@media (max-width:1040px){
    #services .services_container{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width:700px){
    #services .services_container{
        grid-template-columns: 100%;
    }
}
